DATA_DIRECTORY=./data
SECRET_KEY=your_secret_key
DATABASE_URL=sqlite:///./test.db
PROJECT_NAME=Celes Microservicio
MAX_SIZE_CACHE=1
TTL_CACHE=3600
URL_DATA_EXAMPLE=https://github.com/Desarrollo-zeros/TechnicalTestForPython/releases/download/data/data.zip